*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 10em;
    margin: auto;
    padding: 0;
    background-color: rgba(247, 247, 125, 0.858);
    border: 2px solid red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 80%;
    margin: auto;
}

/* main .container{
    margin-top: 4em;
} */

.card{
    background-color: #fff;
    padding: 2em;
    margin: 1em;
    border-radius: .5em;
}

.card ul, ol{
    margin-left: 3em;
}

.card h2{
    margin-bottom: 1em;
    word-wrap: break-word;
    color: brown;
}

.header, .footer{
    text-align: center;
    font-size: auto;
    background-color: #06445f;
    min-height: 50px;
}

.header{
    position: sticky;
    position:-webkit-sticky;
    top: 0;
    min-width: 100%;
}

.footer{
    position: sticky;
    position:-webkit-sticky;
    bottom: 0;
    min-width: 100%;
}

.footer .container p{
    padding-top: 1em;
}